<div id="manager-navbar">
    <div id="navbar-responsive">
        <!-- SIDEBAR SHOW -->
        <toggle-class class="navbar-button pull-left"
            data-toggle-class-group="navGroup"
            data-toggle-class-target="#sidebar-menu"
            data-toggle-class-target-backdrop="#full-overlay"
            data-toggle-class-name="nav-open"
            data-toggle-class-trigger-close="#full-overlay, .sideNavBtnClose">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </toggle-class>
        <!-- UNIVERSE CHOICES -->
        <toggle-class class="navbar-button pull-right"
            data-toggle-class-group="navGroup"
            data-toggle-class-target="#navbar-account"
            data-toggle-class-target-backdrop="#full-overlay"
            data-toggle-class-name="nav-open"
            data-toggle-class-trigger-close="#full-overlay"
            data-toggle-class-click=toggleNavbarStatus("navbar-account")>
            <span class="glyphicon glyphicon-user"></span>
        </toggle-class>
        <!-- USER MENU -->
        <toggle-class class="navbar-button pull-right"
            data-toggle-class-group="navGroup"
            data-toggle-class-target="#navbar-univers"
            data-toggle-class-target-backdrop="#full-overlay"
            data-toggle-class-name="nav-open"
            data-toggle-class-trigger-close="#full-overlay"
            data-toggle-class-click=toggleNavbarStatus("navbar-univers")>
            <span class="glyphicon glyphicon-globe"></span>
        </toggle-class>
    </div>

    <div id="navbar" class="clearfix">

        <div id="navbar-univers" class="navbar-section">
            <ul>
                <li class="logo">
                    <a href="{{::currentLink.url}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 26">
                            <title data-ng-bind="::currentLink.url"></title>
                            <path d="M40.83,1.67,36.17,10h-4.9L25.5,20h4.9l-3.71,6h12a21.91,21.91,0,0,0,4.93-13.7A21.29,21.29,0,0,0,40.83,1.67Z"></path>
                            <path d="M17,26h0L32,0H19.29L10.66,15,2.84,1.42A21.72,21.72,0,0,0,0,12.19,22.24,22.24,0,0,0,4.93,26H17Z"></path>
                        </svg>
                    </a>
                </li>
                <li class="univers-link-{{::link.universe}}"
                    data-ng-class="{active : isActiveLink(link.universe)}"
                    data-ng-repeat="link in externalLinks">
                    <a href="{{::link.url}}" title="{{link.title || link.label}}"
                        data-ng-click="link.click()">
                        <i data-ng-if="::link.icon" class="{{link.icon}}" aria-hidden="true"></i>
                        <span data-ng-if="::link.label" data-ng-bind="::link.label"></span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="navbar-account" class="navbar-section pull-right" data-ng-if="internalLinks">
            <ul>
                <li data-ng-repeat="link in internalLinks"
                    data-ng-attr-title="{{::link.title}}"
                    data-ng-class="{ 'btn-group': link.subLinks }"
                    data-uib-dropdown>
                    <a data-ng-if="!link.subLinks && link.url && !link.click"
                       href="{{::link.url}}">
                        <i data-ng-if="::link.icon" class="{{link.icon}}" aria-hidden="true"></i>
                        <span data-ng-bind="link.label"></span>
                    </a>
                    <button data-ng-if="!link.subLinks && link.click && !link.url"
                       type="button"
                       data-ng-bind-html="link.label"
                       data-ng-click="link.click()">
                        <i data-ng-if="::link.icon" class="{{link.icon}}" aria-hidden="true"></i>
                        <span data-ng-bind="link.label"></span>
                    </button>
                    <button data-ng-if="link.subLinks"
                            id="{{'dLabel' + link.label}}"
                            type="button"
                            class="dropdown-toggle"
                            data-uib-dropdown-toggle>
                        <i data-ng-if="::link.icon" class="{{link.icon}}" aria-hidden="true"></i>
                        <span data-ng-bind="link.label"></span>
                    </button>

                    <div class="dropdown-menu">
                        <div data-ng-if="link.headerTemplate" data-ng-bind-html="link.headerTemplate"></div>
                        <ul data-ng-if="link.subLinks"
                            class=" {{ link.listClass }}"
                            role="menu">

                            <li data-ng-repeat="subLink in link.subLinks">
                                <a href="{{::subLink.url}}"
                                data-ng-if="subLink.url && !subLink.template">
                                    <i data-ng-if="::subLink.icon" class="{{subLink.icon}}" aria-hidden="true"></i>
                                    <span data-ng-bind="subLink.label"></span>
                                </a>
                                <a href="{{::subLink.url}}"
                                data-ng-if="subLink.url && subLink.template"
                                data-ng-bind-html="subLink.template">
                                </a>
                                <span data-ng-if="!subLink.url && !subLink.click && subLink.template"
                                    data-ng-bind-html="subLink.template"></span>
                                <button type="button"
                                data-ng-click="subLink.click();"
                                data-ng-if="subLink.click"
                                data-ng-attr-lang="{{subLink.lang}}">
                                    <i data-ng-if="::subLink.icon" class="{{subLink.icon}}" aria-hidden="true"></i>
                                    <span data-ng-bind="subLink.label"></span>
                                </button>
                            </li>
                        </ul>
                        <div data-ng-if="link.footerTemplate" data-ng-bind-html="link.footerTemplate"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
